{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grades list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Grade</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td><a href="{{ path('grade_show', { 'id': grade.id }) }}">{{ grade.id }}</a></td>
                <td>{{ grade.grade }}</td>
                <td>{{ grade.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('grade_show', { 'id': grade.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('grade_edit', { 'id': grade.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grade_new') }}">Create a new grade</a>
        </li>
    </ul>
{% endblock %}
