{% extends 'base.html.twig' %}

{% block body %}
    <h1>Matter edit</h1>

    <div class="form-group">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-success">
        {{ form_end(edit_form) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('matter_index') }}">
                <button class="btn btn-primary">
                    Back to the list
                </button>
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
