{% extends 'base.html.twig' %}

{% block body %}
    <h1>Matters list</h1>

    <table class="table-striped">
        <thead>
            <tr>
                {#
                <th class="col-sm-12">Id</th>
                #}
                <th class="col-sm-12">Name</th>
                <th class="col-sm-12">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matter in matters %}
            <tr>
                {#
                <td><a href="{{ path('matter_show', { 'id': matter.id }) }}">{{ matter.id }}</a></td>
                #}
                <td >{{ matter.name }}</td>
                <td>
                    <ul>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <a href="{{ path('matter_show', { 'id': matter.id }) }}">
                                    <button class="btn btn-info">
                                        show
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('matter_edit', { 'id': matter.id }) }}">
                                    <button class="btn btn-warning">
                                        edit
                                    </button>
                                </a>
                            </li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('matter_show', { 'id': matter.id }) }}">
                                    <button class="btn btn-info">
                                        show
                                    </button>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('matter_inscription', { 'id': matter.id }) }}">
                                    <button class="btn btn-success">
                                        S'inscrire
                                    </button>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matter_new') }}">Create a new matter</a>
        </li>
    </ul>
{% endblock %}
