{% extends 'base.html.twig' %}

{% block body %}

    {#

      <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matter.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ matter.name }}</td>
            </tr>
        </tbody>
    </table>

    #}
    {#
    <table class="table">
        <thead>
        <tr>
            <th class="col-sm-12">Id</th>
            <th class="col-sm-12">Name</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ matter.id }}</td>
                <td>{{ matter.name }}</td>
            </tr>
        </tbody>
    </table>
    #}
    <h1>{{ matter.name }}</h1>

    <ul>
        <li>
            <a href="{{ path('matter_index') }}" class="btn btn-info">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('matter_edit', { 'id': matter.id }) }}" class="btn btn-warning">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h2>Ajouter liste des profs et des eleves</h2>

{% endblock %}
