{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ matter.name }}</h1>

{% if is_granted('ROLE_SUPER_ADMIN') %}

    <h2>Liste des profs</h2>

        {% set teacher = false %}

        <ul>
            {% for user in users %}
                {% if user.roles == ["ROLE_ADMIN","ROLE_USER"] %}
                    <li>{{ user.username }}</li>
                    {% set teacher = true %}
                {% endif %}
            {% endfor %}
        </ul>

        {% if teacher == false %}
                Aucun prof inscrit pour cette matiere
        {% endif %}
    {% endif %}

    <h2>Liste des élèves</h2>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <ul>
                {% for grade in grades %}
                    <li>{{ grade.user.username }}</li>
                        <li>
                            <ul>
                                <table class="table-striped">
                                    <thead>
                                    <th>matiere</th>
                                    <th>note</th>
                                    <th>commentaire</th>
                                    </thead>
                                    <tbody>
                                    <td>{{ grade.matter.name }}</td>
                                    <td>{{ grade.grade }}</td>
                                    <td>{{ grade.comment }}</td>
                                    </tbody>
                                </table>
                            </ul>
                        </li>
                {% endfor %}
            </ul>

            {% if grades is empty %}
                Aucun inscrit pour cette matiere
            {% endif %}

        {% else %}

            {% if users is empty %}
                Aucun inscrit pour cette matiere
            {% endif %}

            {% set student = false %}

            <ul>
                {% for user in users %}
                    {% if user.roles != ["ROLE_ADMIN","ROLE_USER"] %}
                        <li>{{ user.username }}</li>
                        {% set student = true %}
                    {% endif %}
                {% endfor %}
            </ul>

            {% if student == false %}
                Aucun étudiant inscrit pour cette matiere
            {% endif %}

        {% endif %}

    <hr>

    <ul>
        <li>
            <a href="{{ path('matter_index') }}" class="btn btn-info">Back to the list</a>
        </li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <a href="{{ path('matter_edit', { 'id': matter.id }) }}" class="btn btn-warning">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>

{% endblock %}
